@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8akn9');
  src:  url('fonts/icomoon.eot?8akn9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8akn9') format('truetype'),
    url('fonts/icomoon.woff?8akn9') format('woff'),
    url('fonts/icomoon.svg?8akn9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e90d";
}
.icon-arrow-rigth:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-advantages-4:before {
  content: "\e903";
}
.icon-advantages-3:before {
  content: "\e904";
}
.icon-check-mark:before {
  content: "\e905";
}
.icon-place:before {
  content: "\e908";
}
.icon-telegram:before {
  content: "\e909";
}
.icon-wh:before {
  content: "\e90a";
}
.icon-advantages-2:before {
  content: "\e90b";
}
.icon-advantages-1:before {
  content: "\e90c";
}
