@font-face {
  font-family: “FuturaPT-Book”;
  font-display: swap;
  src: url("../fonts/FuturaPT-Book/FuturaPT-Book.eot");
  src: local("O"), url("../fonts/FuturaPT-Book/FuturaPT-Book.woff") format("woff"),
    url("../fonts/FuturaPT-Book/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: “FuturaPT-Demi”;
  font-display: swap;
  src: url("../fonts/FuturaPT-Demi/FuturaPT-Demi.eot");
  src: local("O"), url("../fonts/FuturaPT-Demi/FuturaPT-Demi.woff") format("woff"),
    url("../fonts/FuturaPT-Demi/FuturaPT-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: “FuturaPT-Medium”;
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium/FuturaPT-Medium.eot");
  src: local("O"), url("../fonts/FuturaPT-Medium/FuturaPT-Medium.woff") format("woff"),
    url("../fonts/FuturaPT-Medium/FuturaPT-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: “Gilroy-Semibold”;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold/Gilroy-Semibold.eot");
  src: local("O"), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.woff") format("woff"),
    url("../fonts/Gilroy-Semibold/Gilroy-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: “Gilroy-UltraLight”;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLight/Gilroy-UltraLight.eot");
  src: local("O"), url("../fonts/Gilroy-UltraLight/Gilroy-UltraLight.woff") format("woff"),
    url("../fonts/Gilroy-UltraLight/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/** for icon-font **/
@font-face {
  font-family: "icon-font";
  font-display: swap;
  src: url("../fonts/icon-font/icomoon.eot");
  src: url("../fonts/icon-font/icomoon.ttf") format("truetype"), url("../fonts/icon-font/icomoon.woff") format("woff"),
    url("../fonts/icon-font/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  display: inline-block;
  font-family: "icon-font" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e90d";
}
.icon-arrow-rigth:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-advantages-4:before {
  content: "\e903";
}
.icon-advantages-3:before {
  content: "\e904";
}
.icon-check-mark:before {
  content: "\e905";
}
.icon-place:before {
  content: "\e908";
}
.icon-telegram:before {
  content: "\e909";
}
.icon-wh:before {
  content: "\e90a";
}
.icon-advantages-2:before {
  content: "\e90b";
}
.icon-advantages-1:before {
  content: "\e90c";
}
