bitrix/admin/
bitrix/cache/
bitrix/managed_cache/
bitrix/backup/
bitrix/themes/
bitrix/modules/
bitrix/components/
mysql_debug.sql
**/images
**/img
*.jpg
*.jpeg
*.png
*.gif
/bitrix/managed_cache/
/bitrix/blocks/
/bitrix/.settings.php
/bitrix/php_interface/
/bitrix/js
.idea
