@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #373737;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  position: relative; }

section {
  overflow: hidden; }

a, a:visited, a:focus {
  color: #373737;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s; }

a:hover {
  text-decoration: none;
  outline: none;
  color: #e82c33; }

a:focus, .btn:focus {
  outline: none;
  text-decoration: none; }

input:focus, textarea:focus {
  outline: 0; }
  
.strtolower {
	text-transform: uppercase;
}	

.viewt { text-transform: uppercase;
text-align: center;
color: #fff;
font-family: "RobotoBold", sans-serif;
font-size: 35px;
margin: 50px 0 40px;
line-height: 1;

}

.viewt3 {
text-align: center;
font-size: 22px;
margin-bottom: 15px;
}

.viewt2 { 
font-weight: bold;
   font-size: 22px;
      color: #fff;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 10px;
      font-family: "Roboto", sans-serif; }
}

p {
  font-size: 14px;
  line-height: 1.2;
  color: #373737; }

img {
  max-width: 100%;
  height: auto;
  max-height: 100%; }

ul, ol {
  padding-left: 0; }

li {
  list-style: none; }

section {
  background-size: cover;
  background-position: center center; }

.clear, .clearfix {
  clear: both; }

::-webkit-input-placeholder {
  color: #333; }

::-moz-placeholder {
  color: #333; }

:-moz-placeholder {
  color: #333; }

:-ms-input-placeholder {
  color: #333; }

.open-1200-menu,
.close-1200-menu,
.wrap-1200-menu,
.overflow-block,
.show-on-768,
.second-menu,
.logo-150,
.logo-220,
.footer-logo,
.show-on-320,
.show-on-425,
.hide-on-desk,
.accordion,
.close-menu-btn,
.open-menu-btn,
.absect6-mobile-slider {
  display: none; }

#up-btn {
  opacity: 0;
  width: 46px;
  height: 46px;
  background-image: url("../img/up-btn.png");
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s;
  z-index: 10; }
  #up-btn:hover {
    opacity: .65; }
  #up-btn.active {
    opacity: 1; }

.my-modal {
  position: relative;
  width: 410px;
  background-color: #fff;
  padding: 45px; }
  .my-modal h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    font-family: "RobotoLight", sans-serif; }
  .my-modal h4 {
    text-align: center;
    margin-bottom: 15px;
    font-family: "RobotoLight", sans-serif;
    font-size: 15px; }
  .my-modal .label {
    color: #fff;
    font-size: 14px; }
  .my-modal label {
    margin-top: 6px; }
  .my-modal textarea {
    display: block;
    width: 100%;
    height: 120px;
    min-height: 80px;
    padding: 10px;
    resize: vertical; }
  .my-modal input {
    width: 100%;
    height: 45px;
    line-height: 45px; }
  .my-modal ::-webkit-input-placeholder {
    color: #707070 !important; }
  .my-modal ::-moz-placeholder {
    color: #707070 !important; }
  .my-modal :-moz-placeholder {
    color: #707070 !important; }
  .my-modal :-ms-input-placeholder {
    color: #707070 !important; }
  .my-modal input[type='text'],
  .my-modal input[type='email'],
  .my-modal input[type='tel'] {
    font-size: 16px;
    padding: 0 7px;
    margin-bottom: 4px; }
  .my-modal input[type='submit'] {
    color: #fff;
    line-height: 20px;
    margin-top: 22px;
    background-color: #e82c33;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.7px;
    cursor: pointer;
    border-right: 2px solid #ab1113;
    border-bottom: 2px solid #ab1113;
    border-top: 2px solid #f58084;
    border-left: 2px solid #f58084;
    -webkit-transition: all .25s;
    transition: all .25s; }
    .my-modal input[type='submit']:hover {
      border: 2px solid #F1555C;
      background-color: #E93942; }
  .my-modal .checkbox {
    margin-bottom: 0; }
    .my-modal .checkbox label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 35px;
      margin-top: 0px;
      font-size: 12px;
      line-height: 1.2;
      color: #333;
      font-family: "RobotoMedium", sans-serif; }
      .my-modal .checkbox label a {
        color: #51B9FF; }
        .my-modal .checkbox label a:hover {
          color: #e82c33; }
    .my-modal .checkbox input[type=checkbox] {
      position: absolute;
      left: -99999px; }
    .my-modal .checkbox label:before {
      content: "";
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 4px;
      background-image: url("../img/check-not-active.jpg"); }
    .my-modal .checkbox input[type=checkbox]:checked + label:before {
      color: #f3f3f3;
      text-align: center;
      background-image: url("../img/check-active.jpg"); }

.arcticmodal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url("../img/close-popup.png");
  background-size: contain;
  width: 36px;
  height: 36px;
  cursor: pointer;
  -webkit-transition: all .25s;
  transition: all .25s; }
  .arcticmodal-close:hover {
    opacity: .5; }

/* Стили хедера */
