@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoLight.woff") format("woff"), url("../fonts/Roboto/RobotoLight.ttf") format("truetype");
  font-display: swap;  }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoRegular.woff") format("woff"), url("../fonts/Roboto/RobotoRegular.ttf") format("truetype"); 
    font-display: swap;}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoBold.woff") format("woff"), url("../fonts/Roboto/RobotoBold.ttf") format("truetype");
  font-display: swap;  }

@font-face {
  font-family: "RobotoMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoMedium.woff") format("woff"), url("../fonts/Roboto/RobotoMedium.ttf") format("truetype");
  font-display: swap;  }
